@use '@styles/variables' as v;

.about {
  display: flex;
  height: fit-content;
  min-height: 1000px;
  align-items: center;
  justify-content: center;

  &_container {
    position: relative;
    display: grid;
    align-items: center;
    column-gap: 2.7rem;
    grid-template:
      'img h2' 1fr
      'img text' 4fr/ 2fr 2fr;

    &.initial {
      grid-template:
        'h2' 1fr
        'text' 4fr / 780px;

      .h2 {
        justify-self: center;
      }

      .img {
        display: none;
      }
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.8rem;
    mask-image: -webkit-gradient(
      linear,
      left right,
      left right,
      from(rgb(0 0 0 / 100%)),
      to(rgb(0 0 0 / 0%))
    );
    mask-image: linear-gradient(to right, rgb(0 0 0 / 100%), rgb(0 0 0 / 0%));

    &-motion {
      grid-area: img;
    }
  }

  &__h2 {
    margin: 0;
    grid-area: h2;
    justify-self: left;

    &-motion {
      position: relative;
    }
  }

  &__text-line {
    position: relative;
    margin-left: 2rem;
  }

  &__text {
    margin: 2rem 0;
  }

  & .dec_item {
    position: absolute;
    top: -0.8rem;
    left: -0.8rem;
    width: 2.7rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: v.$about-color;
  }

  &__text-container {
    align-self: flex-start;
    grid-area: text;
  }
}

@media only screen and (width <= 1920px) {
  .about {
    &_container {
      padding: 0 2rem;
    }

    &__img {
      left: 2rem;
    }
  }
}

@media only screen and (width <= 1100px) {
  .about {
    &_container {
      display: block;
    }

    &__img {
      display: none;
    }
  }
}

@media only screen and (width <= 500px) {
  .about {
    &_container {
      padding: 1.5rem;
    }

    &__text-line {
      margin: 0;
    }

    &__text {
      font-size: 0.8rem;
    }
  }
}
