@use '@styles/variables' as v;

.about {
  position: relative;
  display: grid;
  align-items: center;
  grid-template:
    '. h2' 1fr
    '. text' 4fr/ 2fr 2fr;
  column-gap: 100px;

  &__img {
    position: absolute;
    border-radius: 30px;
    height: 1000px;
    mask-image: -webkit-gradient(
      linear,
      left right,
      left right,
      from(rgb(0 0 0 / 100%)),
      to(rgb(0 0 0 / 0%))
    );
    mask-image: linear-gradient(to right, rgb(0 0 0 / 100%), rgb(0 0 0 / 0%));
    grid-area: img;
  }

  &__h2 {
    margin: 0;
    justify-self: left;
    grid-area: h2;
  }

  &__text-line {
    position: relative;
    margin-left: 70px;
  }

  &__text {
    margin: 70px 0;
  }

  & .dec_item {
    position: absolute;
    top: -30px;
    left: -30px;
    border-radius: 20px;
    background-color: v.$about-color;
    height: 20px;
    width: 100px;
  }

  &__text-container {
    align-self: flex-start;
    grid-area: text;
  }
}
