@use '@styles/variables' as v;

.contact {
  &__list {
    margin: 0 2.7rem;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.8rem;
  }

  &__text {
    font-size: 1.3rem;
  }

  & .icon-email {
    color: v.$green;
    filter: drop-shadow(0 0 0.5rem v.$green);
  }
}

@media only screen and (width <= 500px) {
  .contact {
    &__list {
      margin: 0;
    }
  }
}
