@use '@styles/variables' as v;

.contact {
  &__list {
    margin: 0 2rem;
  }

  &__item {
    list-style: none;

    &_link {
      display: flex;
      align-items: center;
      color: white;
      cursor: pointer;
      gap: 0.8rem;

      & .icon {
        width: 1.5rem;
        height: 1.5rem;
        transition: all ease-in 0.3s;
      }

      &:hover {
        & .icon {
          color: #17ac52;
          filter: drop-shadow(0 0 0.5rem #17ac52);
        }
      }
    }
  }

  &__text {
    font-size: 1.3rem;
  }
}

@media only screen and (width <= 620px) {
  .contact {
    &__list {
      margin: 0;
    }

    &__item {
      & .icon {
        flex-shrink: 0;
      }
    }

    &__text {
      font-size: 0.7rem;
    }
  }
}
