@use '@styles/variables' as v;

.edu {
  &__text.text {
    &_date {
      font-size: 40px;
      font-weight: 700;
    }

    &_name {
      font-size: 48px;
      font-weight: 700;
    }

    &_subtext {
      opacity: 0.5;
      font-size: 38px;
    }
  }

  &__button {
    background-color: v.$edu-color;
    font-weight: 500;
    color: v.$white;
  }
}
