@use '@styles/variables' as v;

.edu {
  display: flex;
  height: fit-content;
  min-height: 1000px;
  align-items: center;
  padding-right: 3rem;

  &_container {
    width: 100%;
  }

  &__list {
    margin-left: 2.7rem;
  }

  &__text.text {
    margin: 0;

    &_date {
      font-size: 1.1rem;
      font-weight: 700;
      grid-area: date;
    }

    &_name {
      font-size: 1.3rem;
      font-weight: 700;
      grid-area: name;
    }

    &_subtext {
      font-size: 1rem;
      grid-area: subtext;
      opacity: 0.5;
    }
  }

  &__button {
    margin: 20px;
    background-color: v.$edu-color;
    color: v.$white;
    font-weight: 500;
    grid-area: button;
  }

  &__item {
    display: grid;
    width: fit-content;
    height: fit-content;
    align-items: center;
    column-gap: 0.8rem;
    grid-template:
      'date circle name' auto
      '. line subtext' auto
      '. line button' auto
      '. line .' auto/ auto;
  }

  &__symbol {
    display: block;
    justify-self: center;

    &.symbol_circle {
      width: 1.4rem;
      height: 1.4rem;
      border: 8px solid v.$dk-gray;
      border-radius: 50%;
      grid-area: circle;
    }

    &.symbol_line {
      width: 0.15rem;
      height: 7.5rem;
      background: linear-gradient(0deg, transparent 0, v.$prj-color 50%, transparent 100%);
      grid-area: line;
    }

    &.active {
      border-color: v.$edu-color;
    }
  }
}

@media only screen and (width <= 510px) {
  .edu {
    padding: 0 1rem;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    &__text {
      &.text_name {
        font-size: 1rem;
      }

      & li {
        font-size: 0.7rem;
      }
    }

    &__item {
      grid-template:
        '. circle name' auto
        '. date .' auto
        '. line subtext' auto
        '. line button' auto
        '. line .' auto/ auto;
    }
  }
}
