@use '@styles/variables' as v;

.front {
  display: grid;
  grid-template:
    'img h1 h1'
    'img subtext subtext'
    'img text text'
    'email text-add text-add'
    'downl button button'
    '.  github linkedin';
  grid-template-columns: 16.5rem 1fr 3fr;
  grid-template-rows: auto;
  margin-bottom: 8.3rem;
  padding: 0 0 0 5.5rem;
  column-gap: 0.5rem;

  &__img {
    border-radius: 0.8rem;
    height: 11rem;
    width: 11rem;

    &-wrapper {
      position: relative;
      place-self: center center;
      grid-area: img;

      &::after {
        z-index: -1;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        content: '';
        display: block;
        border-radius: 0.8rem;
        background-color: v.$front-color;
        height: 11rem;
        width: 11rem;
      }
    }
  }

  &__h1,
  &__strong {
    font-family: Inter, sans-serif;
    font-size: 2.7rem;
  }

  &__h1 {
    margin: 1.5rem 0 0;
    font-weight: 700;
    text-align: left;
    grid-area: h1;
  }

  &__strong {
    font-weight: 900;
  }

  &__text {
    &.text_descr {
      margin: 3.3rem 0 0.8rem;
      grid-area: text;
    }

    &.text_additional {
      margin: 0.3rem 0;
      grid-area: text-add;
    }
  }

  &__subtext {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: v.$light-gray;
    text-align: left;
    grid-area: subtext;
  }

  &__button {
    background-color: v.$front-color;
    height: fit-content;
    width: fit-content;
    font-size: 0.8rem;
    grid-area: button;

    &.button_email {
      margin: 0.27rem auto;
      grid-area: email;
    }

    &.button_download {
      margin: 0.27rem auto;
      grid-area: downl;
    }
  }

  &__icon {
    margin: 2.7rem 0;
    color: v.$front-color;
    place-self: center center;

    &.icon-github {
      justify-self: right;
      grid-area: github;
    }

    &.icon-linkedin {
      grid-area: linkedin;
    }
  }
}

.strong {
  &_color_blue {
    color: v.$front-color;
  }
}
