@use '@styles/variables' as v;

.front {
  display: flex;
  height: fit-content;
  min-height: 1000px;
  align-items: center;

  &_container {
    display: grid;
    padding: 0 5.5rem;
    column-gap: 0.5rem;
    grid-template:
      'img h1 h1'
      'img subtext subtext'
      'img text text'
      'btns text-add text-add'
      'btns button button'
      '.  github linkedin';
    grid-template-columns: 16.5rem 1fr 3fr;
    grid-template-rows: auto;
  }

  &__img {
    width: 11rem;
    height: 11rem;
    border-radius: 0.8rem;
    animation: 1s ease-out 0s 1 slide-up;

    &-wrapper {
      position: relative;
      grid-area: img;
      place-self: center center;

      &::after {
        position: absolute;
        z-index: -1;
        top: 0.5rem;
        left: 0.5rem;
        display: block;
        width: 11rem;
        height: 11rem;
        border-radius: 0.8rem;
        background-color: v.$front-color;
        content: '';
      }
    }
  }

  &__h1,
  &__strong {
    animation: 1s ease-out 0s 1 slide-left;
    font-family: Inter, sans-serif;
    font-size: 2.7rem;
  }

  &__h1 {
    margin: 1.5rem 0 0;
    font-weight: 700;
    grid-area: h1;
    line-height: 1;
    text-align: left;
  }

  &__strong {
    font-weight: 900;
  }

  &__text {
    animation: 1s ease-out 0s 1 slide-left;

    &.text_descr {
      margin: 3.3rem 0 0.8rem;
      grid-area: text;
    }

    &.text_additional {
      margin: 0.3rem 0;
      grid-area: text-add;
    }
  }

  &__subtext {
    margin: 0;
    animation: 1s ease-out 0s 1 slide-left;
    color: v.$light-gray;
    font-size: 1.3rem;
    font-weight: 500;
    grid-area: subtext;
    text-align: left;
  }

  &_buttons_container {
    display: flex;
    flex-direction: column;
    grid-area: btns;
  }

  &__button {
    width: fit-content;
    height: fit-content;
    background-color: v.$front-color;
    font-size: 0.8rem;
    grid-area: button;

    &.button_email {
      margin: 0.27rem auto;
    }

    &.button_download {
      margin: 0.27rem auto;
    }
  }

  &__icon {
    margin: 2.7rem 0;
    color: v.$front-color;
    place-self: center center;

    &.icon-github {
      grid-area: github;
      justify-self: right;
    }

    &.icon-linkedin {
      grid-area: linkedin;
    }
  }
}

.strong {
  &_color_blue {
    color: v.$front-color;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (width <= 1100px) {
  .front {
    &_container {
      padding: 0 2rem;
    }
  }
}

@media only screen and (width <= 800px) {
  .front {
    &_container {
      column-gap: 2rem;
      grid-template:
        'img h1'
        'img subtext'
        'btns btns'
        'text text'
        'text-add text-add'
        'button button'
        'github linkedin';
    }

    &_buttons_container {
      flex-direction: row;
      margin: 1em 0;
    }

    &__text {
      &.text_descr {
        margin-top: 4em;
      }
    }

    &__icon {
      &.icon-github {
        justify-self: center;
      }
    }
  }
}

@media only screen and (width <= 750px) {
  .front {
    &_container {
      column-gap: 2rem;
      grid-template:
        'img'
        'h1'
        'subtext'
        'text'
        'text-add'
        'button'
        'btns';
    }

    &__img {
      width: 20rem;
      height: 20rem;

      &-wrapper {
        &::after {
          width: 20rem;
          height: 20rem;
        }
      }
    }

    &__text {
      &.text_descr,
      &.text_additional {
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    }

    &__icon {
      display: none;
    }
  }
}

@media only screen and (width <=580px) {
  .front {
    &_container {
      padding: 0 1.5em;
    }

    &__img {
      width: 80vw;
      height: 80vw;

      &-wrapper {
        &::after {
          width: 80vw;
          height: 80vw;
        }
      }
    }
  }
}

@media only screen and (width <=400px) {
  .front {
    &__h1,
    &__strong {
      font-size: 2rem;
    }

    &__img {
      width: 70vw;
      height: 70vw;

      &-wrapper {
        &::after {
          width: 70vw;
          height: 70vw;
        }
      }
    }
  }
}
