@use '@styles/variables' as v;

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  display: flex;
  width: 100%;
  height: 2.7rem;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0.5rem;
  background: linear-gradient(0deg, transparent, v.$background-dark 50%);

  &__list {
    display: flex;
    width: fit-content;
    margin: 0.8rem 0;
    gap: 0.8rem;

    &.moved {
      position: absolute;
      right: 2.7rem;
    }
  }

  &__lang-switch {
    position: absolute;
    right: 0.8rem;
    display: none;
  }

  &__delim {
    display: block;
    width: 0.2rem;
    height: 1.4rem;
    border-radius: 0.5rem;
    background-color: v.$white;
  }

  &__link {
    color: v.$white;
    font-weight: 900;
  }

  &__item {
    list-style-type: none;
  }

  .burger {
    display: none;
  }
}

.lang-switch {
  width: 5.5rem;
  height: 2rem;

  &__item {
    position: absolute;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0;
    background-color: v.$dker-gray;
    color: v.$dk-gray;
    font-size: 0.8rem;
    font-weight: 600;

    &_en {
      z-index: 2;
    }

    &_ru {
      z-index: 1;
      left: 0.8rem;
    }

    &_dk {
      z-index: 0;
      left: 1.5rem;
    }

    &.active {
      background-color: v.$front-color;
      color: v.$white;
    }
  }
}

.header.compact {
  align-items: flex-start;

  &.active {
    height: 500px;
  }

  nav {
    &.hidden {
      position: relative;
      top: -500px;
    }

    &.compact {
      & .list {
        flex-direction: column;
        padding: 0;
      }

      & .header__delim {
        display: none;
      }
    }
  }

  & .lang-switch {
    top: 0.8rem;
  }
}

@media only screen and (width <=1000px) {
  .header {
    justify-content: flex-start;
  }
}

@media only screen and (width <=834px) {
  .header {
    align-items: flex-start;

    .burger {
      z-index: 10;
      display: flex;
      align-items: center;
      transition: transform ease-in 0.3s;

      &__field {
        padding: 10px 20px;
        cursor: pointer;

        & .bar {
          display: block;
          width: 30px;
          height: 3px;
          border-radius: 0.2rem;
          margin: 6px auto;
          background-color: #fff;
          transition: 0.2s;
        }
      }

      &.active {
        & .burger__field {
          & .bar.first {
            position: absolute;
            transform: rotate(45deg);
          }

          & .bar.second {
            transform: rotate(-45deg);
          }

          & .bar.third {
            display: none;
          }
        }
      }
    }

    &__nav {
      position: absolute;
      width: 100%;
      height: 800px;
      background: linear-gradient(0deg, transparent, #0d1117 50%);
      transform: translateY(-1000px);
      transition: transform ease-in 0.3s;
    }

    &.open {
      & .header__nav {
        transform: translateY(0);
      }
    }

    &__list {
      // display: none;
      top: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      margin: 0 auto;
      gap: 0;
    }

    &__delim {
      transform: rotate(90deg);
    }

    & .lang-switch {
      position: static;
      width: fit-content;
    }
  }
}

@media only screen and (width <=550px) {
  .header.compact.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    & .nav {
      order: 2;
    }

    & .lang-switch {
      position: relative;
      width: 2.5rem;
      order: 1;
    }
  }
}
