@use '@styles/variables' as v;

.projects {
  &__item {
    position: relative;
    display: grid;
    align-items: center;
    grid-template:
      'h3 h3 git-link .' 1fr
      'descr descr descr .' 1fr
      'read-more read-more button .' 1fr
      '. . . .' 4fr / 1fr 1fr 1fr 3fr;
    height: 1000px;
    padding-top: 50px;

    &.align-right {
      grid-template:
        '. h3 h3 git-link' 1fr
        '. descr descr descr' 1fr
        '. read-more read-more button' 1fr
        '. . . .' 4fr / 3fr 1fr 1fr 1fr;

      & img {
        left: 0;
        mask-image: linear-gradient(to right, rgb(0 0 0 / 100%), rgb(0 0 0 / 0%));
      }
    }
  }

  &__h3 {
    margin: 0;
    text-align: left;
    grid-area: h3;
  }

  &__text {
    font-size: 32px;

    &.text_descr {
      grid-area: descr;
    }

    &.text_read-more {
      margin-right: 20px;
      text-align: right;
      grid-area: read-more;
    }
  }

  &__button {
    background-color: v.$prj-color;
    height: fit-content;
    width: fit-content;
    padding: 15px 70px;
    font-size: 36px;
    color: v.$white;
    grid-area: button;
  }

  &__git-link {
    height: fit-content;
    grid-area: git-link;
  }

  &__img {
    position: absolute;
    top: -50px;
    right: 0;
    border-radius: 30px;
    height: 1000px;
    mask-image: -webkit-gradient(
      linear,
      left right,
      left right,
      from(rgb(0 0 0 / 100%)),
      to(rgb(0 0 0 / 0%))
    );
    mask-image: linear-gradient(to left, rgb(0 0 0 / 100%), rgb(0 0 0 / 0%));
  }
}

.projects_modal {
  position: relative;
  display: grid;
  grid-template:
    'h3 h3' 1fr
    'descr-cont .' 1fr
    'descr-cont .' 4fr
    'read-more button' 0.5fr / 2fr 3fr;
  height: 990px;
  width: 1450px;

  & .h3 {
    font-size: 86px;
    justify-self: center;
  }

  & .projects__descr_container {
    margin-left: 100px;
    width: 590px;
    overflow: hidden;

    // overflow-y: scroll;
    padding-right: 30px;
    grid-area: descr-cont;
  }

  & .img-background {
    z-index: -1;
    top: 0;
  }

  & .button,
  & .text_read-more {
    align-self: center;
  }

  & .button {
    margin-right: 90px;
    justify-self: flex-end;
  }

  & .text_read-more {
    margin: 50px 0 50px 90px;
    place-self: flex-end flex-start;
  }
}
