@use '@styles/variables' as v;

.projects {
  &__item {
    position: relative;
    display: grid;
    height: 27.7rem;
    align-items: center;
    padding-top: 1.4rem;
    margin: 0 2rem;
    grid-template:
      'h3 h3 git-link .' 1fr
      'descr descr descr .' 1fr
      'read-more read-more button .' 1fr
      '. . . .' 4fr / 1fr 1fr 1fr 3fr;

    &.align-right {
      grid-template:
        '. h3 h3 git-link' 1fr
        '. descr descr descr' 1fr
        '. read-more read-more button' 1fr
        '. . . .' 4fr / 3fr 1fr 1fr 1fr;

      & img {
        left: 0;
        mask-image: linear-gradient(to right, rgb(0 0 0 / 100%), rgb(0 0 0 / 0%));
      }
    }
  }

  &__h3 {
    margin: 0;
    grid-area: h3;
    text-align: left;
  }

  &__text {
    font-size: 0.9rem;

    &.text_descr {
      grid-area: descr;
    }

    &.text_read-more {
      margin-right: 0.5rem;
      grid-area: read-more;
      text-align: right;
    }
  }

  &__button {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 2rem;
    background-color: v.$prj-color;
    color: v.$white;
    font-size: 1rem;
    grid-area: button;
  }

  &__git-link {
    height: fit-content;
    grid-area: git-link;
  }

  &__img {
    position: absolute;
    top: -1.4rem;
    right: 0;
    height: 27.7rem;
    border-radius: 0.8rem;
    grid-area: img;
    mask-image: -webkit-gradient(
      linear,
      left right,
      left right,
      from(rgb(0 0 0 / 100%)),
      to(rgb(0 0 0 / 0%))
    );
    mask-image: linear-gradient(to left, rgb(0 0 0 / 100%), rgb(0 0 0 / 0%));
  }
}

.projects_modal {
  position: relative;
  display: grid;
  width: 40rem;
  height: 27.5rem;
  grid-template:
    'h3 h3' 1fr
    'descr-cont .' 1fr
    'descr-cont .' 4fr
    'read-more button' 0.5fr / 2fr 3fr;

  & .h3 {
    font-size: 2.4rem;
    justify-self: center;
  }

  & .projects__descr_container {
    overflow: hidden;
    width: 16.4rem;
    padding-right: 0.8rem;
    margin-left: 2.7rem;
    grid-area: descr-cont;
  }

  & .img-background {
    z-index: -1;
    top: 0;
  }

  & .button,
  & .text_read-more {
    align-self: center;
  }

  & .button {
    margin-right: 2.5rem;
    justify-self: flex-end;
  }

  & .text_read-more {
    margin: 1.4rem 0 1.4rem 2.5rem;
    place-self: flex-end flex-start;
  }
}

@media only screen and (width <= 1300px) {
  .projects {
    &_container {
      padding: 0 2rem;
    }

    &__img {
      top: 0;
      height: 20rem;
    }
  }
}

@media only screen and (width <= 1000px) {
  .projects {
    &__item,
    &__item.align-right {
      height: fit-content;
      grid-template:
        'h3 h3 git-link' auto
        'descr descr descr' auto
        'read-more read-more button' auto
        'img img img' auto / 1fr 1fr 1fr;

      img {
        mask-image: none;
      }
    }

    &__img {
      position: relative;
      margin: 1rem 0;
      justify-self: center;
      mask-image: none;
    }
  }
}

@media only screen and (width <= 650px) {
  .projects {
    &__item {
      margin: 0;
    }

    &__h3 {
      font-size: 2.5rem;
    }

    &__git-link {
      padding: 0.2rem;
    }

    &__git-link_text {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (width <= 500px) {
  .projects {
    &__item,
    &__item.align-right {
      grid-template:
        'h3 h3 h3' auto
        'git-link git-link git-link' auto
        'descr descr descr' auto
        'button button button' auto
        'read-more read-more read-more' auto
        'img img img' auto / 1fr 1fr 1fr;
      justify-items: center;
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }
}
