@use '@styles/variables' as v;

.skills {
  &__type-selector {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: 0.8rem;
  }

  &__card {
    border: 1px solid v.$dk-gray;
    border-radius: 0.8rem;
    background-color: v.$dker-gray;
    width: 20rem;
  }

  &__cards {
    display: grid;
    grid-template: auto auto/ auto auto;
    margin: 1.4rem auto;
    width: min-content;
    gap: 1.4rem;
  }

  & .card {
    &__meter {
      display: flex;
      margin-left: 1.4rem;
      gap: 0.5rem;
    }

    &__meter_circle {
      border: 0.08rem solid v.$skills-color;
      border-radius: 50%;
      height: 0.8rem;
      width: 0.8rem;

      &.filled {
        background-color: v.$skills-color;
      }
    }

    &__name {
      margin: 0.5rem 0 0 1.4rem;
      font-size: 2.7rem;
      font-weight: 900;
      text-align: left;
    }

    &__list {
      border-top: 0.03rem solid v.$dk-gray;
      padding: 1.7rem;
    }

    &__item {
      position: relative;
      margin-left: 0.5rem;
      list-style-type: none;
      font-size: 1.3rem;
      text-align: left;

      &::before {
        position: absolute;
        top: 0.75em;
        left: -0.5rem;
        content: '';
        display: block;
        border-radius: 50%;
        background-color: v.$skills-color;
        height: 0.2rem;
        width: 0.2rem;
        box-shadow: 0 0 0.3rem 0.03rem v.$skills-color;
      }
    }
  }
}

@media only screen and (width <= 1150px) {
  .skills {
    &__cards {
      display: flex;
      flex-direction: column;
      width: auto;
      padding: 0 2rem;
    }

    &__card {
      width: 100%;
    }
  }
}

@media only screen and (width <= 550px) {
  .skills {
    &__type-selector {
      flex-direction: column;
      gap: 0.5rem;
    }

    &__cards {
      padding: 0 1rem;
    }

    & .item_selectable {
      padding: 0.2rem 0.5rem;
      font-size: 1rem;
    }

    & .card {
      &__name,
      &__meter {
        margin-left: 0.8rem;
      }

      &__name {
        font-size: 2.5rem;
      }

      &__meter {
        gap: 0.3rem;
      }
    }

    .card__meter_circle {
      height: 0.4rem;
      width: 0.4rem;
    }
  }
}
