@use '@styles/variables' as v;

#root {
  margin: 0 auto;
  max-width: 1920px;
  text-align: center;
}

.wrapper {
  position: relative;
}

.text {
  text-align: left;
}

.button {
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 500;

  &_top {
    position: sticky;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: v.$front-color;
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 50%;
  }
}

.icon {
  height: 58px;
  width: 58px;

  &_arrowUp {
    height: 30px;
    width: 30px;
  }
}

.h2 {
  font-size: 96px;
  font-weight: 700;
}

.h3 {
  font-size: 96px;
  font-weight: 700;
}

.git-link {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: v.$white;
  width: fit-content;
  padding: 17px;
  gap: 10px;

  &__text {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    color: v.$background-dark;
  }

  & .icon-github {
    color: v.$background-dark;
  }
}

.item_selectable {
  border: 6px solid v.$dk-gray;
  border-radius: 30px;
  background: none;
  width: fit-content;
  padding: 15px 50px;
  font-size: 48px;
  font-weight: 500;
  color: v.$dk-gray;
  cursor: pointer;

  &.active {
    border: none;
    background-color: v.$dk-gray;
    color: v.$white;
  }
}
