@use '@styles/variables' as v;

#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  position: relative;
}

.text {
  text-align: left;
}

.button {
  padding: 0.27rem 0.5rem;
  border: none;
  border-radius: 0.8rem;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 500;

  &_top {
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    margin-left: auto;
    background-color: v.$front-color;
  }
}

.icon {
  width: 2.5rem;
  height: 2.5rem;

  &_arrowUp {
    width: 0.8rem;
    height: 0.8rem;
  }
}

.h2,
h3 {
  font-size: 2rem;
  font-weight: 700;
}

.git-link {
  z-index: 10;
  display: flex;
  width: max-content;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: v.$white;
  gap: 0.27rem;
  place-self: start flex-end;

  &__text {
    margin: 0;
    color: v.$background-dark;
    font-size: 1rem;
    font-weight: 500;
  }

  & .icon-github {
    color: v.$background-dark;
  }
}

.item_selectable {
  width: fit-content;
  padding: 0.5rem 1.4rem;
  border: 0.15rem solid v.$dk-gray;
  border-radius: 0.8rem;
  background: none;
  color: v.$dk-gray;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;

  &.active {
    border: none;
    background-color: v.$dk-gray;
    color: v.$white;
  }
}

.about,
.edu,
.skills,
.projects {
  padding-top: 3rem;
}

@media only screen and (height <= 1000px) {
  .front,
  .about {
    height: 1300px;
  }
}

@media only screen and (width <= 1000px) {
  .edu,
  .skills,
  .contact {
    margin-top: 8rem;
  }
}

@media only screen and (width <= 620px) {
  .skills {
    margin-top: 0;
  }
}
