@use '@styles/variables' as v;
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap';
@import '@styles/normalize';

html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: v.$front-color;
    cursor: pointer;
  }
}

:root {
  background-color: v.$background-dark;
  color: v.$white;
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  place-items: center;
}

.button {
  width: fit-content;
}

@media only screen and (width <= 1920px) {
  #root {
    width: 100%;
  }
}
